name: CI/CD Pipeline

on:
  push:
  pull_request:

jobs:
  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit
    with:
      python-version: '3.12'

  scan:
    uses: ./.github/workflows/scan.yml
    secrets: inherit

  results:
    needs: [test, scan]
    uses: ./.github/workflows/results.yml
    secrets: inherit
